<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Edcars_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>sendSeller</servlet-name>
    <servlet-class>Controller.sendEmail</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>sendBuyer</servlet-name>
    <servlet-class>Controller.sendBuyerEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendSeller</servlet-name>
    <url-pattern>/SendMail.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendBuyer</servlet-name>
    <url-pattern>/SendBuyerMail.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>placeCarSpecs</servlet-name>
    <servlet-class>Controller.BuyerEmailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>placeCarSpecs</servlet-name>
    <url-pattern>/sendBuyRequest.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertFAQS</servlet-name>
    <servlet-class>Controller.faqsInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertFAQS</servlet-name>
    <url-pattern>/faqsInsert.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateFAQS</servlet-name>
    <servlet-class>Controller.faqsUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateFAQS</servlet-name>
    <url-pattern>/faqsUpdate.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteFAQS</servlet-name>
    <servlet-class>Controller.faqsDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteFAQS</servlet-name>
    <url-pattern>/faqsDelete.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>transactRedirect</servlet-name>
    <servlet-class>NoCachePages.transactionRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transactRedirect</servlet-name>
    <url-pattern>/transactionRedirect.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>invUpdateorDelete</servlet-name>
    <servlet-class>Controller.inventoryUpdateOrDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invUpdateorDelete</servlet-name>
    <url-pattern>/inventoryUD.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>transactUpdateorDelete</servlet-name>
    <servlet-class>Controller.transactionUpdateOrDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transactUpdateorDelete</servlet-name>
    <url-pattern>/transactUD.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>clientUpdateSetup</servlet-name>
    <servlet-class>Controller.updateClientSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientUpdateSetup</servlet-name>
    <url-pattern>/updateSetup.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>resultFAQS</servlet-name>
    <servlet-class>Controller.faqsResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resultFAQS</servlet-name>
    <url-pattern>/faqsResult.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changePass</servlet-name>
    <servlet-class>Controller.changePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePass</servlet-name>
    <url-pattern>/changePass.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertCar</servlet-name>
    <servlet-class>Controller.inventoryInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertCar</servlet-name>
    <url-pattern>/inventoryInsert.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateCar</servlet-name>
    <servlet-class>Controller.inventoryUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCar</servlet-name>
    <url-pattern>/inventoryUpdate.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteCar</servlet-name>
    <servlet-class>Controller.inventoryDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCar</servlet-name>
    <url-pattern>/inventoryDelete.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertTransact</servlet-name>
    <servlet-class>Controller.transactionInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertTransact</servlet-name>
    <url-pattern>/transactionInsert.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateTransact</servlet-name>
    <servlet-class>Controller.transactionUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTransact</servlet-name>
    <url-pattern>/transactionUpdate.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteTransact</servlet-name>
    <servlet-class>Controller.transactionDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteTransact</servlet-name>
    <url-pattern>/transactionDelete.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateClient</servlet-name>
    <servlet-class>Controller.clientUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateClient</servlet-name>
    <url-pattern>/clientUpdate.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageInventoryResult</servlet-name>
    <servlet-class>Controller.managementInventoryResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageInventoryResult</servlet-name>
    <url-pattern>/generateTables.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indexTablesResult</servlet-name>
    <servlet-class>Controller.indexTablesResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexTablesResult</servlet-name>
    <url-pattern>/indexTables.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insertTransactTab</servlet-name>
    <servlet-class>Controller.transactionTabInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertTransactTab</servlet-name>
    <url-pattern>/transaction.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>selectCar</servlet-name>
    <servlet-class>Controller.inventoryCarSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectCar</servlet-name>
    <url-pattern>/selectACar.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>Controller.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckAnswersServlet</servlet-name>
    <servlet-class>Controller.CheckAnswersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckAnswersServlet</servlet-name>
    <url-pattern>/CheckAnswersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminWelcome</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminWelcome</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>changeemail</servlet-name>
  	<servlet-class>Controller.changeEmail</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>changeemail</servlet-name>
  	<url-pattern>/changeEmail.html</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>fromEmail</param-name>
    <param-value>edcarscompany@yahoo.com</param-value>
  </context-param>
  <context-param>
    <param-name>userName</param-name>
    <param-value>edcarscompany@yahoo.com</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>edgarviray</param-value>
  </context-param>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.mail.yahoo.com</param-value>
  </context-param>
</web-app>